#Arquivos Persistentes
*.goPool
*lista_bench
*tmp_insert.log
*tmp_update.log
*tmp_delete.log
*tmp_read.log

# Gitignore padrão do golang!!
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

#Executáveis 
lista_ligada_pmem
pilha_pmem 
arvore_binaria_pmem
